pandas
numpy
scipy
scikit-learn
tqdm
pyyaml
swifter
umap-learn
pyarrow
psutil
ipywidgets
cython

## visual
plotly
wordcloud
networkx
matplotlib
Pillow
seaborn
altair
streamlit
gradio
pandas-profiling
shap
pydotplus
graphviz
matplotlib-venn
sweetviz
klib
quickda
japanize_matplotlib
adjusttext
missingno
pyvis

## GBDT
lightgbm
xgboost
# catboost  # M1ではインストールできない
optuna

## NN
# torch
# torchvision
# torchtext

## NLP
gensim
mecab-python3
neologdn
# spacy # M1ではインストールできない
ginza
sudachipy==0.5.4
sudachidict_core
sudachidict_full
nlplot
nltk
# transformers # M1ではインストールできない
texthero
sumy
sentencepiece
# pyLDAvis

## cloud
boto3
google-cloud-bigquery==2.4.0

# ## jupyter
jupyterlab-git
jupyternotify  # セルの実行終了を通知（jupyter labではjsのエラーが出て使えない）

# # ## 株価分析
# # # pyti
# # # ccxt
# # # git+https://github.com/richmanbtc/crypto_data_fetcher.git@v0.0.17#egg=crypto_data_fetcher

## other
fire
mlflow
kaggle
flake8
autopep8
pytest
pytest-datadir
jpholiday
luigi
joblib
Levenshtein
emoji
networkx
# voila
# voila-gridstack
# icecream  # debug
# geopy
# googletrans
# scraping
# beautifulsoup4docker
# threadpoolctl
# tenacity
# python-daemon
# beautifulsoup4

## web
Flask
fastapi
uvicorn

## 高速化
# numba
